<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}{% endblock %}
		</title>
		{{ include('oc_dashboard/partial/__head.html.twig') }}
		{% block stylesheets %}{% endblock %}
	</head>
	

	<body class="hold-transitionsidebar-minilayout-fixed">
		<div class="wrapper">
			<!-- Preloader -->
			<div class="preloader flex-column justify-content-center align-items-center">
				<img class="animation__shake" src="{{asset('assets/dist/img/AdminLTELogo.png')}}" alt="LogoOptiCare" height="60" width="60">
			</div>

			{{ include('oc_dashboard/partial/__menu.html.twig') }}

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				{% block body %}{% endblock %}
			</div>
			<!-- /.content-wrapper -->

			{{ include('oc_dashboard/partial/__footer.html.twig') }}

		</div>

		{{ include('oc_dashboard/partial/__foot.html.twig') }}
	</body>
</html>
