{% extends 'base.html.twig' %}

{% block title %}BulletinExamens index{% endblock %}

{% block body %}
    <h1>BulletinExamens index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>RefBulletinExamen</th>
                <th>DatePrescription</th>
                <th>Observation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bulletin_examen in bulletin_examens %}
            <tr>
                <td>{{ bulletin_examen.id }}</td>
                <td>{{ bulletin_examen.refBulletinExamen }}</td>
                <td>{{ bulletin_examen.datePrescription ? bulletin_examen.datePrescription|date('Y-m-d') : '' }}</td>
                <td>{{ bulletin_examen.observation }}</td>
                <td>
                    <a href="{{ path('app_bulletin_examens_show', {'id': bulletin_examen.id}) }}">show</a>
                    <a href="{{ path('app_bulletin_examens_edit', {'id': bulletin_examen.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bulletin_examens_new') }}">Create new</a>
{% endblock %}
