{% extends 'base.html.twig' %}

{% block title %}OcConsultation index{% endblock %}

{% block body %}
    <h1>OcConsultation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateConsultation</th>
                <th>HistoireMaladie</th>
                <th>Plaintes</th>
                <th>AntecedantsPatient</th>
                <th>AntecedantsFamiliaux</th>
                <th>DiagnosticPatient</th>
                <th>BilanConsultation</th>
                <th>DateProchainRdv</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for oc_consultation in oc_consultations %}
            <tr>
                <td>{{ oc_consultation.id }}</td>
                <td>{{ oc_consultation.dateConsultation ? oc_consultation.dateConsultation|date('Y-m-d') : '' }}</td>
                <td>{{ oc_consultation.histoireMaladie }}</td>
                <td>{{ oc_consultation.plaintes }}</td>
                <td>{{ oc_consultation.antecedantsPatient }}</td>
                <td>{{ oc_consultation.antecedantsFamiliaux }}</td>
                <td>{{ oc_consultation.diagnosticPatient }}</td>
                <td>{{ oc_consultation.bilanConsultation }}</td>
                <td>{{ oc_consultation.dateProchainRdv ? oc_consultation.dateProchainRdv|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_oc_consultation_show', {'id': oc_consultation.id}) }}">show</a>
                    <a href="{{ path('app_oc_consultation_edit', {'id': oc_consultation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_oc_consultation_new') }}">Create new</a>
{% endblock %}
