{% extends 'base.html.twig' %}

{% block title %}
	Ordonances
{% endblock %}

{% block body %}
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Ordonances</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('app_oc_dashboard') }}">Accueil</a>
						</li>
						<li class="breadcrumb-item active">Ordonances</li>
					</ol>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Ordonances</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<a class="btn btn-primary float-right" href="{{ path('app_bulletin_prescriptions_new') }}">
								<i class="fas fa-plus"></i>
								Ajouter
							</a>
							<table id="example1" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>Ref</th>
										<th>N° Consultation</th>
										<th>Date</th>
										<th>Posologie</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									{% for bulletin_prescription in bulletin_prescriptions %}
										<tr>
											<td>{{ bulletin_prescription.refPrescription }}</td>
											<td>{{ bulletin_prescription.consultation }}</td>
											<td>{{ bulletin_prescription.datePrescription ? bulletin_prescription.datePrescription|date('Y-m-d') : '' }}</td>
											<td>{{ bulletin_prescription.posologie }}</td>
											<td>
												<a class="btn btn-app bg-success" title="Afficher" href="{{ path('app_bulletin_prescriptions_show', {'id': bulletin_prescription.id}) }}">
													<i class="fas fa-eyes"></i>
												</a>
												<a class="btn btn-app" title="Modifier" href="{{ path('app_bulletin_prescriptions_edit', {'id': bulletin_prescription.id}) }}">
													<i class="fas fa-edit"></i>
												</a>
											</td>
										</tr>
									{% else %}
										<tr>
											<td colspan="5">Aucun éléments trouvés</td>
										</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<th>Ref</th>
										<th>N° Consultation</th>
										<th>Date</th>
										<th>Posologie</th>
										<th>Actions</th>
									</tr>
								</tfoot>
							</table>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.content -->
{% endblock %}
